$primary-color: #DE2119;
$secondary-color: #EB560E;
$tertiary-color: #29166F;
$quaternary-color: #FFF500;

$main-gradient: linear-gradient(-90deg, #EB560E, #DE2119);
$minor-gradient: linear-gradient(270deg, #EB560E, #FF8A00);

$black: #1D1610;
$black75: #1D1610BF;
$black50: #1D161080;
$black25: #1D161040;
$black10: #1D16101A;
$black5: #1D16100D;





*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

p {
    color: $black75;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
}

li {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black;
    font-weight: 600;
}

h1 {
    width: 300px;
    font-size: 2.6rem;
    line-height: 38px;
    text-align: center;
}

h3 {
    margin-bottom: 2.4rem;
    font-size: 2rem;
    line-height: 39px;
}

h6 {
    font-size: 1.6rem;
    line-height: 24px;
    padding: 0 0.8rem;
}

.container {
    padding: 4rem 1rem 0;
}




////////////////////      NAWIGACJA     ////////////////////

.navbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;

    &__brand {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: .5rem;
        border-bottom: 1px solid transparent;
        background-image: linear-gradient(#FDFBFB, #F3F5F6);

        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #DEDFE0;
        }
    }

    &__logo-img {
        padding: 1rem;
        height: 52px;
    }

    &__burger-btn {
        display: block;
        padding: .5rem 1rem;
        border: none;
        background-color: transparent;
    }

    &__links {
        padding: 1rem 0;
        border-bottom: 1px solid #DEDFE0;
        background-color: #F3F5F6;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        pointer-events: none;
        transition: clip-path .3s;
    }

    &__list-link {
        display: block;
        margin: 0 1rem;
        padding: 1rem;
        color: $black;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__links-line {
        margin: 1rem 2rem;
        width: 4rem;
        height: 1px;
        background-color: #C1BFBF;
    }

    &__facebook-link {
        display: flex;
        align-items: center;
        margin: 0 1rem;
        padding: 1rem;
    }

    &__facebook-svg {
        width: 20px;
        height: 20px;
    }

    .show-nav {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        pointer-events: auto;
    }
}



////////////////////      HEADER     ////////////////////

.hero {
    margin-top: 5.6rem;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__logo-img {
        height: 56px;
    }

    &__h1 {
        margin-top: 1.6rem;
    }
}





////////////////////      O NAS     ////////////////////

.aboutus {
    &__gallery-box {
        position: relative;
        aspect-ratio: 300 / 288;
    }

    &__gallery-bg {
        margin-left: 2rem;

        &--white {
            background-color: $black5;
            height: 35%;
        }

        &--gray {
            background-color: $black25;
            height: 65%;
        }
    }

    &__gallery-pictures {
        position: absolute;
        top: 15%;
        left: 0;
        padding-right: 2rem;

        &__arrow {
            position: absolute;
            top: 99%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 2rem;
            border: 1px solid $black10;
            width: 40px;
            height: 40px;
            background-color: $black10;

            &--left {
                right: 40px;
                border-right: none;
            }

            &--right {
                right: 0;
            }
        }
    }

    &__gallery-img {
        width: 100%;
    }

    &__gallery-psb-logo {
        position: absolute;
        bottom: .8rem;
        left: 3rem;
        width: 32%;
    }

    &__gallery-psb-logo-img {
        width: 100%;
    }

    &__text {
        margin-top: 3.2rem;
    }

    &__paragraph {
        margin-top: 2.4rem;
    }
}





////////////////////      OFERTA     ////////////////////

.offer {
    &__cards {
        .offer__cards-row:nth-of-type(1) {
            .offer__card:nth-of-type(1) {
                .offer__card__left-bar {
                    background-color: #A58785;
                }

                .offer__card__picture {
                    background-image: url('../img/offer1.jpg');
                }
            }
        }
    }

    &__card {
        display: flex;
        margin-bottom: 3.2rem;
        background-color: $black10;
        box-shadow: -2px 2px 4px #c5c5c5;
    }

    &__card__left-bar {
        width: 80px;
    }

    &__card__row {
        display: flex;
        flex-direction: column;
        width: calc(100% - 80px);
    }

    &__card__picture {
        width: 100%;
        height: 200px;
        background-size: cover;
    }

    &__card__h6-box {
        display: flex;
        align-items: center;
        position: relative;
        transform: translateX(-64px);
        width: calc(100% + 48px);
        height: 40px;
        background-color: #F1F1F1;
    }

    &__card__list {
        // list-style-position: inside;
        padding: 0.8rem;
        padding-right: 1.6rem;
    }

    &__card__list-item {
        margin-left: 1.5rem;
        padding-left: 0.7rem;
        color: $black75;
        font-size: 1.4rem;
        line-height: 20px;

        &::marker {
            content: '•';
            margin-right: 8px;
            padding-right: 8px;
        }
    }
}